@import '_normalize.scss';
@import '_footer.scss';

html {
    font-size: 62.5%;
}

body {
    color: #2c2c2c;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: 32px;
    letter-spacing: 1px;
}

div.headerContainer {
    display: flex;
    width: 2520px;
}


section.infoGrid {
background-color: #f0efed;
margin-top: -18px;
padding-top: 80px;
padding-bottom: 80px;
}


section.whiteBackground {
    background-color: #f0efed;
    height: 60vh;
    padding-left: 100px;
}

// SECTION STYLING

section.auditorium {
    background-image: url(/styles/assets/home-image-4.jpg);
    background-position: center;
    background-size: cover;
    height: 35vh;
    width: 100%;
}

img {
    max-width: 100%;
}

header {
    background-color: #f6a823
}

div.featuredContent {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    height: 60vh;
}

a.sophieMiddle {
    font-size: 2rem;
    font-family: 'Roboto', 'Sans-serif';
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    color: #2c2c2c;
    display: inline-block;
    font-family: 'Lora';
    font-size: 8rem;
    font-style: bold;
    text-transform: uppercase;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.wrapper {
    max-width: 2520px;
    width: 90%;
    margin: 0 auto;
}


ul {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-family: 'Roboto', 'Sans-serif';
    font-weight: bold;
    text-transform: uppercase;
    color: #f6a823;
}

a:link {
    text-decoration: none;
}

li {
    color: black;
    padding: 0px 80px
}

li:hover { color: white; } 

nav {
    background-color: #f6a823;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

header {
    background-color: #f6a823;
}

div {
    display: block;
}

button {
    background-color: #1fccdf;
    border: none;
    color: #2c2c2c;
    cursor: pointer;
    font-family: 'Roboto', 'Sans-serif';
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;


}