html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

footer {
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  text-align: center;
  display: block;
}

html {
  font-size: 62.5%;
}

p {
  display: block;
  -webkit-margin-before: 1rem;
          margin-block-start: 1rem;
  -webkit-margin-after: 1rem;
          margin-block-end: 1rem;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

body {
  color: #2c2c2c;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  line-height: 32px;
  letter-spacing: 1px;
}

.contact aside ul {
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  margin-left: 0;
  width: 60%;
}

img {
  max-width: 100%;
  border-style: none;
}

main {
  margin: 0 auto;
}

.gallery {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  max-width: 1080px;
  width: 85%;
  margin: 0 auto;
}

.gallery img {
  padding: 20px;
  width: calc(100% / 3);
}

.orangeOverlay {
  background-color: #f6a823;
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: -40px;
  right: -40px;
}

.sophiesJourney {
  display: block;
  position: relative;
  background-color: #f0efed;
  padding: 70px;
}

header {
  background-color: #f6a823;
  display: block;
}

div.heroText header .hero {
  margin: 50px auto 0;
  height: 55vh;
}

div.featuredContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60vh;
}

a.sophieMiddle {
  font-size: 2rem;
  font-family: "Roboto", "Sans-serif";
  font-weight: bold;
  text-transform: uppercase;
}

.allAbout {
  position: relative;
}

div.allAbout img {
  position: absolute;
  top: -40px;
  left: -30px;
}

h1 {
  color: #2c2c2c;
  display: inline-block;
  font-family: "Lora";
  font-size: 8rem;
  font-style: bold;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 4.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h4 {
  display: block;
  margin: 10px 0px;
  -webkit-margin-before: 1.33rem;
          margin-block-start: 1.33rem;
  -webkit-margin-after: 1.33rem;
          margin-block-end: 1.33rem;
  font-size: 2.4rem;
  text-transform: uppercase;
}

div.heroBlog {
  background-image: url("../assets/contact-image-1.jpg");
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45vh;
  margin: 0 auto;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.infoGridItem {
  width: 50%;
}

.infoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .topNav {
  background: #f6a823;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

a.navLink:active {
  color: white;
}

.flexRow {
  list-style: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
  font-family: "Roboto", "Sans-serif";
  font-weight: bold;
  text-transform: uppercase;
  color: #f6a823;
}

a:link {
  text-decoration: none;
}

a.navLink {
  color: #2c2c2c;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 10px 20px;
  text-decoration: none;
}

li {
  list-style: none;
  color: black;
  padding: 0px 80px;
}

li:click {
  color: white;
}

div {
  display: block;
}

button {
  background-color: #1fccdf;
  border: none;
  color: #2c2c2c;
  cursor: pointer;
  font-family: "Roboto", "Sans-serif";
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.blogSection {
  background-color: #f0efed;
  padding: 100px 0px;
}

.infoText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f0efed;
  margin-top: -20px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.auditorium {
  background-repeat: no-repeat;
  background-image: url("../assets/home-image-4.jpg");
  background-position: center;
  background-size: cover;
  height: 35vh;
}

.sophiesJourney {
  background-color: #f0efed;
  padding: 70px 0;
}